// ------------------------------------------------------------
// This file contains all project-related variables.
// ------------------------------------------------------------

// Paths to assets
// Used by `image()` and `font()` getter functions.
$assets-path: '../';
$images-path: '#{$assets-path}/images';

// Base font settings
$font-size: 15px;
$font-stack: (
  arial,
  sans-serif
);

// Colors
$background-main-color: #e5e8ed;
$background-footer: #f9f9f9;
$font-color: #000;

$color-black: #000000;
$color-white: #ffffff;
$color-blue: #1493ff;
$color-red: #ff0000;
$color-form-button-submit: $color-blue;
$color-table-border: $color-black;
$color-table-cell: #0a508c;
$color-form-field: #c3ccd9;
$color-form-field-text: #868c96;

// Sizes
$main-container-width: 1200px;
