// ------------------------------------------------------------
// This file contains all styles related to the `button` component.
// ------------------------------------------------------------

@include block('button') {

  @include element('form') {
    padding: 12px 20px;
    position: relative;
    display: inline-block;
    margin: 0;
    word-break: break-word;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    border: 1px solid transparent;
    @include border-radius(3px);
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    @include transition(all .2s);
    outline: none;

    @include modifier('submit') {
      background-color: $color-form-button-submit;
      color: $color-white;
    }

    @include modifier('full-width') {
      width: 100%;
    }

    @include modifier('uppercase') {
      text-transform: uppercase;
    }
  }

  @include element('table') {
    padding: 8px 20px;
    position: relative;
    display: inline-block;
    margin: 0;
    word-break: break-word;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    border: 1px solid transparent;
    @include border-radius(3px);
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    outline: none;

    @include modifier('copy') {
      background-color: $color-blue;
      color: $color-white;
    }

    @include modifier('remove') {
      display: block;
      background: url('../../images/btn_delete.png') no-repeat;
      width: 12px;
      height: 12px;
      text-indent: 9999px;
      text-decoration: none;
    }

  }

}
