// ------------------------------------------------------------
// This file contains all styles related to the form component.
// ------------------------------------------------------------

@include block('form') {

  @include element('wrap') {
    background-color: $color-white;
    padding: 25px;
    border: 1px solid #ccc;
    @include border-radius(5px);
    @include box-shadow(0px 1px 15px 1px rgba(69,65,78,0.08));
  }

  @include element('field-group') {
    &:not(:first-child) {
      margin-top: 10px;
    }
    @include modifier('submit-button') {
      margin-top: 20px;
    }
  }

  @include element('field-error') {
    margin-top: 5px;
    display: none;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    color: $color-red;
    @include modifier('show') {
      display: block;
    }
  }

  @include element('input') {
    padding: 12px;
    width: 100%;
    margin: 0;
    @include border-box();
    @include box-shadow(none);
    background-color: $color-white;
    border: 1px solid $color-form-field;
    @include border-radius(3px);
    cursor: text;
    outline: none;
    @include placeholder() {
      color: $color-form-field-text;
    }
    @include modifier('text-align-right'){
      text-align: right;
    }
    @include modifier('textarea') {
      min-height: 80px;
      resize: vertical;
    }
    @include modifier('error') {
      border-color: $color-red;
    }
    &:focus {
      border-color: #a4afb3;
    }
    @include modifier('hide-placeholder') {

      &:focus {
        @include placeholder {
          @include transition(opacity .15s ease-in-out);
          opacity: 0;
        }

      }
    }
  }

}
