// ------------------------------------------------------------
// This file contains all styles related to the table component.
// ------------------------------------------------------------

@include block('table') {

  overflow-x: auto;
  overflow-y: auto;
  color: $color-black;

  @include element('navigation') {

    padding: 20px 0;
    text-align: right;

    ul {
      list-style-type: none;
      font-size: 0;
      > li {
        display: inline-block;
        font-size: 13px;
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

  }

  @include element('wrap') {
    width: 100%;
    table-layout: fixed;
  }

  @include element('cell') {
    width: 180px;
    background: $color-white;
    padding: 10px 15px;
    border: 1px solid $color-table-border;
    text-align: left;
    color: #333;

    @include modifier('thead') {
      background-color: $color-table-cell;
      color: $color-white;
    }

    @include modifier('no-table-data') {
      text-align: center;
    }
  }

  @include element('cell-actions') {
    @include grid-container(row,wrap,stretch,space-between);
    white-space: nowrap;
  }

  @include element('link') {
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    @include modifier('blue') {
      color: $color-blue;
    }
    @include modifier('red') {
      color: $color-red;
    }
    &:hover {
      text-decoration: none;
    }
  }

}
