// ------------------------------------------------------------
// This file contains all styles related to the `app` module.
// ------------------------------------------------------------

@include block('app') {
  @include grid-container(column);

  position: relative;
  min-height: 100vh;
  background: $background-main-color;
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
  overflow-x: hidden;
}
