// ------------------------------------------------------------
// This file contains all styles related to the `simple-page` module.
// ------------------------------------------------------------

@include block('simple-page') {
  padding: 60px 0;

  @include media('<tablet') {
    padding: 20px 0;
  }

  @include element('form-wrap') {

    @include modifier('half-width') {
      width: 50%;

      @include media('<tablet') {
        width: 100%;
      }
    }

    + .simple-page__table-wrap {
      margin-top: 50px;
    }
  }
}
