// ------------------------------------------------------------
// This file contains all styles related to the container component.
// ------------------------------------------------------------

@include block('container') {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
