// ------------------------------------------------------------
// This file contains all styles related to the `main` component.
// ------------------------------------------------------------

@include block('main') {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 1;
}
